@model IEnumerable<FeeResponseDto>

<h2>Такси</h2>

@if (User.IsInRole("Administrator") || User.IsInRole("EntranceManager"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Добави нова такса</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Описание</th>
            <th>Обща сума</th>
            <th>Вход</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fee in Model)
        {
            <tr>
                <td>@fee.Name</td>
                <td>@fee.Description</td>
                <td>@fee.Amount</td>
                <td>@fee.Entrance.EntranceName</td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("EntranceManager"))
                    {
                        <a asp-action="Edit" asp-route-id="@fee.Id" class="btn btn-info btn-sm">Актуализирай</a>
                        <form asp-action="Delete" asp-route-id="@fee.Id" method="post" style="display:inline;"
                              onsubmit="return confirm('Сигурни ли сте, че искате да изтриете тази такса?');">
                            <button type="submit" class="btn btn-danger btn-sm ms-1">Изтрий</button>
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>